@page "/Notes"
<h1 style="text-align: center;">Note App</h1>
<body style="overflow-x: hidden ;>
    <div style="border: 1px;background-color: rgb(250, 249, 249);border-radius: 5px ;">
  Add Add New Note  
</div>
<br>
<div style="margin-top: 1px;"   >Title</div>
<br>
<input style="background-color: rgb(179, 172, 172);width:50vw;height:5vh   ;" placeholder="Enter Note title">  
<br>        
<div style="margin-top: 1px;">Description</div>
<br>
<textarea style="background-color:beige;width:50vw;height:10vh;margin-bottom: 2px   .......;" placeholder="Enter Add New note"></textarea>
<br>
<button style="margin-top: 5px;background-color: aquamarine;">Add note</button>
<br>
</body>
